@import url("https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed");
@import url("https://fonts.googleapis.com/css?family=Anton");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Rubik+Mono+One");

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 3rem;
  font-size: 1.8rem;
}

.nav-heading {
  font-size: 2.5rem;
}

.section {
  display: flex;
  justify-content: space-between;
  margin: 0rem 3rem;
  height: 70vh;
}

.persons {
  margin: auto 10px;
}
.person {
  font-size: 1.3rem;
  margin-bottom: 1.1rem;
}

.persons-middle {
  margin: auto 10px;
  font-size: 1.5rem;
}
.info-head {
  font-family: "Rubik Mono One", sans-serif;
  letter-spacing: 0.5rem;
  margin: 0;
}

.footer {
  margin: 0rem 3rem;
  font-family: "Fira Sans Extra Condensed", sans-serif;
}

.footer-info {
  display: flex;
  justify-content: space-between;
}

.footer-text {
  display: flex;
  font-size: 1.3;
}
.text {
  margin-right: 1.5rem;
}

.top-color {
  background-color: rgb(150, 106, 106);
  height: 1.8vh;
  width: 45vw;
  margin-left: 55vw;
}
.bottom-color {
  background-color: rgb(150, 106, 106);
  height: 5vh;
  width: 45vw;
}

.footer-number {
  margin-top: 3rem;
  font-size: 2rem;
  font-family: "Anton", sans-serif;
}
