html,
body {
  box-sizing: border-box;
  color: #444444;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.nav {
  color: #6743bd;
  display: flex;
  font-size: 1.8rem;
  justify-content: space-between;
  margin: 1.5rem 3rem;
}

.nav-heading:hover {
  cursor: pointer;
}

.nav-menu:hover {
  cursor: pointer;
}
div.main {
  display: flex;
  justify-content: space-around;
  height: 45vh;
}

button:hover {
  cursor: pointer;
}

.info-tag {
  font-size: 1.5rem;
}

.info-button {
  background-color: #6743bd;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: white;
  height: 2rem;
  width: 6rem;
}

h3 {
  font-size: 3rem;
  margin: 20px 0;
}

.info-social:hover {
  color: #6743bd;
}

.icon {
  margin-right: 0.9rem;
}
.inline-social {
  margin-left: 0.5rem;
}
.link {
  margin-top: 2rem;
  padding: 1rem;
}

.link:hover {
  background-color: black;
  border-radius: 0.3rem;
  color: #6743bd;
  cursor: pointer;
}

.profile-image {
  background-color: #dcdcdd;
  border-radius: 50%;
  padding: 1.5rem;
}

.profile-pic {
  width: 250px;
  height: 250px;
  background-color: #c4c4c5;
  border-radius: 50%;
  padding: 1.5rem;
}

.footer {
  display: flex;
  justify-content: space-around;
}

.footer-pic {
  height: 20rem;
  width: 35rem;
  position: absolute;
  left: 2rem;
  z-index: -11111;
}

.footer-info {
  width: 30rem;
}

.footer-btn {
  border: 1px solid #6743bd;
  border-radius: 3px;
  margin-right: 1rem;
  margin-top: 1rem;
  padding: 0.4rem;
}

.cv {
  background-color: #6743bd;
  border-radius: 2rem;
  color: white;
  padding: 1rem;
  margin-top: 1rem;
  width: 15rem;
}

.about {
  font-size: 2rem;
}
